body {
    font-family: Georgia;
    background-image: url('../img/donut1.jpg');
    background-repeat: repeat;
    background-size: contain;
    overflow-x: hidden;
}

h1 {
    font-size: 50px;
    color: #47484A;
    padding: 15px;
    text-align: center;
}

p {
    font-size: 20px;
    color: #47484A;
    padding: 5px;
    text-align: center;
}

h2 {
    font-size: 25px;
    color: #47484A;
    padding: 15px;
    text-align: center;
}

h3 {
    font-size: 25px;
    color: #47484A;
    padding: 5px;
    text-align: center;
}

h4 {
    font-size: 25px;
    color: #47484A;
    padding: 5px;
    text-align: center;
    margin: 0;
}

h5 {
    font-size: 25px;
    color: red;
    padding: 5px;
    text-align: center;
    margin: 0;
}

h6 {
    font-size: 15px;
    color: red;
    padding: 5px;
    text-align: center;
    margin: 0;
}

.formBackground {
    background-color: #FBE7C6;
    padding: 10px;
    width: 50vw;
    border: solid #A0E7E5 5px;
}

.home {
    width: 70px;
    height: 70px;
}

.logOutStyle {
    margin-left: 15px;
    width: 70px;
    height: 70px;
}

.buttons {
    display: flex;
    padding: 15px;

}

.donuts {
    width: 150px;
    height: 150px;
}

.ing {
    display: inline-block;
    vertical-align: middle;
    margin: 30px;
    text-decoration: none;
    text-align: center;
}

.ing a {
    text-decoration: none;
}

.ing h3 {
    margin-bottom: 0;
    text-decoration: none;
    text-align: center;
}

.donutAnswer1 {
    background-color: #FBE7C6;
    padding: 10px;
    width: 30vw;
    border: solid #A0E7E5 5px;
    margin: auto;
    margin-bottom: 20px;
}

.orderSummary {
    background-color: #A0E7E5;
    padding: 10px;
    width: 80vw;
    border: solid #47484A 5px;
    margin: auto;
    margin-bottom: 20px;
}

.donutAnswer2 {
    background-color: #FBE7C6;
    padding: 10px;
    width: 30vw;
    border: solid #A0E7E5 5px;
    margin: auto;
    margin-bottom: 20px;
}

.donutAnswer3 {
    background-color: #FBE7C6;
    padding: 10px;
    width: 30vw;
    border: solid #A0E7E5 5px;
    margin: auto;
}

.ing1 {
    display: block;
    text-align: center;
}

.ingFill {
    display: block;
    text-align: center;
}

.ingFill a {
    text-decoration: none;
}

.ingFill h3 {
    margin-bottom: 0;
    text-decoration: none;
    text-align: center;
}

.submitStyle {
    font-size: 20px;
    background-color: #B4F8C8;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
}

.submitStylePay {
    font-size: 20px;
    background-color: #B4F8C8;
    padding: 5px;
    margin: auto;
    margin-top: 30px;
}

input[type=checkbox] {
    transform: scale(2);
}

input[type=number] {
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

.checkbox {
    display: flex;
    vertical-align: middle;
}


.quantityField {
    text-align: center;
    margin: 0;
}

.labelStyle {
    color: #47484A;
    font-size: 25px;
    padding: 10px;
}

.inputStyle {
    height: 20px;
}

table {
    margin: auto;
}

th {
    padding: 20px;
}

.tranBack {
    border: none;
    background-color: transparent;
    outline: none;
}